/vendor
/.idea
backup/*
!backup/.*
cache/*
!cache/.*
logs/*
!logs/.*
images/*
!images/.*
tmp/*
!tmp/.*
user/data/count-views.yaml
user/pages/*
user/config/system.yaml
user/data/gantry5/themes/g5_helium/css-compiled