{% set itens = count(recent_posts) %}
{% set tmp = 0 %}

<ul class="topic-wraper">
    {% for i in 1..colum %}
        <li class="topic-children"><ul>
            {% for i in 1..ceil(itens/colum) if tmp < itens %}
                <li><a href="{{ recent_posts[tmp].url }}" title="{{ recent_posts[tmp].title }}"><span>{{ recent_posts[tmp].date|date("F Y") }}</span> - {{ recent_posts[tmp].title }}</a></li>
                {% set tmp = tmp + 1 %}
            {% endfor %}
        </ul></li>
    {% endfor %}
</ul>