{% extends '@nucleus/partials/particle.html.twig' %}

{% set collection = page.evaluate(['@root.descendants']) %}

{% set count = 0 %}

{% set datas = [] %}

{% set qtdItens = 3 %}

{% block particle %}

    {% for row in collection %}
        {% if config.plugins['count-views'].counts[row.url] > 100 and row.home() != true %}
            {% set datas = datas|merge([row]) %}
            {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
    {% set totalItens = datas|length %}
    {% if count > 0%}
    <div>
        <h3><i class="fa fa-star"></i> Tópicos Populares</h3>
        <ul class="topic-wraper" style="justify-content: {% if (totalItens/qtdItens)|round(0,'ceil') > 2 %} space-between {% else %} initial {% endif %}">
            {% for row in datas|batch(qtdItens) %}
                <li class="topic-children"><ul>
                        {% for p in row %}
                            <li><a href="{{ p.url }}" title="{{ p.title }}">
                                    {{ p.title|length > 40 ? p.title|slice(0, 40) ~ '...' : p.title  }}
                            </a></li>
                        {% endfor %}
                    </ul></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}